@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}
nav ul li a{
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  position: relative;

}
.header__container h1{
  color: #000000;
}


.section__header {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(128, 0, 81);
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  background-color: rgb(14, 14, 14);
  border-radius: 5px;
  cursor: pointer;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-image:url("images/doctor.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: repeat-x;
}

.nav__container {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.nav__logo span {
  color: rgb(128, 11, 91);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.link a {
  padding: 0.5rem;
  color: rgb(0, 0, 0);
}

.link a:hover {
  color:rgb(165, 4, 66);
}

.header__container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.header__container h1 {
  margin-bottom: 1rem;
  max-width: 800px;
  font-size: 3.5rem;
  line-height: 4rem;
  color: rgb(0, 0, 0);
}

.header__container p {
  margin-bottom: 7.5rem;
  max-width: 600px;
  color: rgb(0, 0, 0);
}

.header__form {
  width: 80%;
  max-width: 330px;
}

.header__form form {
  color: rgb(255, 255, 255);
  display: grid;
  gap: 1rem;
  padding: 2rem;
  background-color: rgb(247, 243, 243);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}


.header__form input {

  padding: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: rgb(233, 223, 223);
  background-color:rgb(76, 74, 74);
  border-radius: 5px;
}

.header__form input::placeholder {
  color: rgb(243, 237, 237);
}

.form__btn {
  background-color: rgb(21, 20, 20);
  transition: 0.2s;
}

.form__btn:hover {
  background-color: rgb(148, 10, 47);
}

.header__form h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(7, 7, 7);
}


